{{ define "main" }}
<section class="py-6 px-4">
  <h1 class="text-center">{{ .Title }}</h1>
  <div class="text-center">{{ .Content }}</div>
  <div class="card-list">
    {{ range .Data.Pages -}}
    <article class="card">
      <div class="card-body">
        <h2 class="listing-post-title"><a class="stretched-link text-black" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
        {{ partial "main/blog-meta.html" . -}}
      </div>
    </article>
    {{ end -}}
  </div>
</section>
{{ end }}
