{{ define "main" }}
<section class="container mx-auto py-6 px-4">
  <article>
    <div class="blog-header">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ partial "main/blog-meta.html" . }}
    </div>
    <div class="flex flex-col">

      {{ if .Params.toc }}
      <aside class="post-toc">
        <header>
          <h2>{{ .Params.tocTitle | default "Table of Contents" }}</h2>
        </header>
        <div class="post-toc-listing">
          {{ .TableOfContents }}
        </div>
      </aside>
      {{ end }}
      <div class="post-content flex-1">
        {{ .Content }}
      </div>
    </div>

  </article>
</section>
{{ end }}
