html,
body {
  font-size: 16px;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-theme {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
code:not([class*="language"]) {
  color: #c31651;
}
blockquote {
  border-left: 0.25em solid #788087;
  color: #323435;
  padding: 0 1em;
  margin: 0;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4 {
  @apply font-bold mb-2;
}
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}

a {
  @apply text-indigo-700;
}

@keyframes move_left {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-57%);
  }
}
@keyframes move_top {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
