.blog-header {
  @apply mb-4 lg:mt-8 lg:mb-16;
}

.listing-post-title {
  @apply text-3xl;
}

.post-title {
  @apply lg:text-4xl;
}

.post-toc {
  @apply mb-6;
}

.post-toc-listing {
  ul > li {
    &::before {
      content: "» ";
      font-size: 1.25rem;
      --hue: 200;
      color: HSL(var(--hue) 50% 50%);
    }
  }
  ul {
    @apply ml-5;
  }
  ul ul {
    > li {
      &::before {
        --hue: 300;
      }
    }
  }
}
