<div class="spacing mt-auto"></div>
<footer class="footer text-muted bg-gray-700 text-white mt-10">
  <div class="container mx-auto">
    <div class="px-4 py-20">
      <div class="lg:w-6/12">
        <p>All right reserved copyright &copy; Tiep Phan 2017-present</p>
      </div>
      <div class="lg:w-6/12">
        <ul class="list-social">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}" target="_blank" rel="noopener">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>
